
    .card {
        
      background: #daa90a;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.08);
      width: 100%;
      max-width: 400px;
    }
    h2 {
      margin-top: 0;
      color: #011311;
    }
    label {
      display: block;
      margin-top: 1rem;
      font-weight: 600;
      font-size: 0.9rem;
      color: #333;
    }
    input, textarea {
      width: 100%;
      padding: 0.75rem;
      margin-top: 0.3rem;
      border: 1px solid #ccc;
      border-radius: 6px;
      box-sizing: border-box;
      font-size: 1rem;
    }
    button {
      margin-top: 1.5rem;
      width: 100%;
      padding: 0.8rem;
      background-color: #001307;
      color: white;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.2s;
    }
    button:hover {
      background-color: #1EBE5D;
    }